body {
  background: rgb(236, 235, 235);
  width: 95%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  margin: 15px;
}

form {
  padding: 20px;
  background: linear-gradient( rgba(207, 206, 206, 0.8) -10%, rgba(105, 104, 104, 0.8));
  width: 350px;
  height: 250px;
  border-radius: 10px;
  justify-items: center;
}

input:hover, label:hover {
  filter: brightness(125%);
  font-size: 110%;
}

p {
  font-size: 20px;
}

#facts {
  margin-top: 30px;
}